/* Styles for the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Header styles */
#hero {
  background-color: navy; 
  color: #fff; /* White text */
  text-align: center;
  padding: 20px;
}

/* Search container styles */
.searchContainer {
  margin: 20px;
}

/* Input and button styles within the search container */
.input-group {
  text-align: left; /* Align text to the left within the block */
}

#cityInput {
  padding: 5px;
  width: 15%; 
  margin-bottom: 10px; /* Added some spacing between input and button */
}

#searchButton {
  background-color: #3498db; 
  color: #fff; /* White text */
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  display: block; /* Displays the button as a block element to appear underneath the input */
  width: 15%;
}

/* Weather result styles */
.weatherResult {
  background-color: #fff; /* White background */
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* City name and current date styles */
.cityClass, .dateClass {
  font-weight: bold;
}

/* Icon styles */
i {
  font-size: 24px;
}

/* 5-Day forecast title styles */
h2 {
  margin-top: 20px;
}


  

  
  